@import "./styles/tokens.css";
@import "tailwindcss";

html,
body {
    font-family: "JetBrains Mono", monospace;
}

body {
    margin: 0;
    background: var(--color-bg-app);
    color: var(--color-text-primary);
}

*,
*::before,
*::after {
    border-color: var(--color-border-default);
}
